body {
    background-image: linear-gradient(to right, #434343 0%, black 100%);
}
header img{
    width: 15%;
    max-width: 150px;
}
main img {
    width: 100%;
}
section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    margin: 10px;
    padding: 10px;
    justify-content: center;
}   
section h1 {
    color: white;
}
section p {
    color: white;
}
section img {
    width: 100%;
    margin: 10px;
}
@media (max-width: 576px) {
    section {
    grid-template-columns: none;
    margin: 10px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}
}
.boton {
    background-color: aqua;
}
@mixin btn {
    display: inline-block;
    padding: 10px;
    border: solid gray 2px;
    text-decoration: none;
    font-family: sans-serif;
    color: black;
    background-color: white;
    
}
.btn--default {
    @include btn;
    border-radius: 10px;
    margin: 10px 20%;
}
.titulo-proteccion h1{
    width: 80%;
    margin: 10px 15%;
    color: white;
}

.extend {
    background-color: beige;
    color: black;
    font-family: sans-serif;
    padding: 20px;
    width: 300px;
    margin-bottom: 10px;
    border-radius: 15px
}
.extend--color1 {
    @extend .extend;
    background-color: gray;
}
.extend--color2 {
    @extend .extend;
    background-color: firebrick;
}
.coberturas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    justify-items: center;
}
@media (max-width: 576px) {
    .coberturas {
    grid-template-columns: none;
    margin: 10px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}
}